"*":
  "atom-idle-autosave":
    debounce: 2000
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Inconsolata"
    fontSize: 11
  "exception-reporting":
    userId: "f1874d7a-d7da-4c8a-ad56-4c1fde77ff99"
  "one-dark-ui":
    layoutMode: "Compact"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: true
